@model List<ClientPatientManagement.Core.Model.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@foreach (var item in Model)
{
    <span>Nombre</span> <span> @item.Name</span><br />
    <span>Location</span> <span> @item.Location</span><br />
}
